<%- include("header") -%>
<!-- Content -->
<section id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="b-pad">
                    <h1>Be Aware</h1>
                    <h4>Berjaga-Jaga</h4>
                </div>
                <div class="b-pad">
                    <h3>Hazards</h3>
                    <p>Malaysia often grapples with hazards like thunderstorms, floods, landslides. Find out what to do before, during, and after each hazard.</p>
                    <a class="r-pad" href="#storms">Thunderstorms</a>
                    <a class="r-pad" href="#floods">Floods</a>
                    <a class="r-pad" href="#slides">Landslides</a>
                </div>
                <hr>
                <div class="b-pad" id="storms">
                    <h3>Thunderstorms</h3>
                    <p>In Malaysia, thunderstorms are frequent and can happen any time of the year, bringing heavy rain, 
                        thunder and lighting.  It is important to prepare your family and prepare your property now and 
                        stay prepared all year round.</p>
                    <p>Heavy rainfall can cause water to damage exposed homes and flood homes and roads rapidly making floodwaters.</p>
                </div>
                <div class="b-pad" id="floods">
                    <h3>Floods</h3>
                    <p>In Malaysia, floods are one of the most regular disasters affecting the country, which occurs regularly 
                        especially during the monsoon season from October to March. The coasts of peninsular Malaysia are the most prone to flooding in this time.</p>
                </div>
                <div class="b-pad" id="slides">
                    <h3>Landslides</h3>
                    <p>Landslides are a regular disaster in Malaysia which occur along hillsides and steep slopes. 
                        The main factor that causes landslides at hillsides in Malaysia are rainfall, storm water and poor slope management.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="b-pad">
                    <h3>Resources</h3>
                    <div class="resource-box">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        <a href="/images/Flood_Tips_EN.pdf" target="_blank">Flood_Tips_EN.pdf (24 KB)</a>
                    </div>
                </div>
            </div>
        </div>
</section>
<%- include("footer") -%>