<%- include("header") -%>
<!-- Title -->
<div class="container-fluid title-color">
    <div class="row">
        <div class="container">
            <h3>Disasters can strike Malaysia anytime. You can take the steps to be prepared.</h3>
            <h4>Bencana boleh melanda Malaysia pada bila-bila masa. Anda boleh mengambil langkah untuk bersedia.</h4>
        </div>
    </div>
</div>
<!-- Section 2 -->
<section id="home-cards" class="content-container">
        <div class="container-fluid">
            <div class="row">
                <!-- Cards -->
                <div class="home-col col-lg-4">
                    <a href="/aware" class="cards">
                        <div class="card">
                            <div class="card-body">
                                <i class="home-icon fa-solid fa-person-circle-exclamation"></i>
                                <h3>Be Aware</h3>
                                <h4>Berjaga-Jaga</h4>
                                <p>Learn about disaster hazards and risks in Malaysia. Find out what to do before, during, and after a disaster.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="home-col col-lg-4">
                    <a href="/prepared" class="cards">
                        <div class="card">
                            <div class="card-body">
                                <i class="home-icon fa-solid fa-person-chalkboard"></i>
                                <h3>Be Prepared</h3>
                                <h4>Bersiap Sedia</h4>
                                <p>It's up to you to be prepared and ready, just in case. Find out how you can be prepared.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="home-col col-lg-4">
                    <a href="/informed" class="cards">
                        <div class="card">
                            <div class="card-body">
                                <i class="home-icon fa-solid fa-circle-info"></i>
                                <h3>Be Informed</h3>
                                <h4>Dapatkan Maklumat</h4>
                                <p>In an emergency, it is important to know who to contact, and how to stay up to date.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- 2nd Row -->
            <div class="row">
                <!-- Cards -->
                <div class="home-col col-lg-6">
                    <a href="/alerts" class="cards">
                        <div class="card">
                            <div class="card-body">
                                <i class="home-icon fa-solid fa-triangle-exclamation"></i>
                                <h3>Mobile Hazard Alerts</h3>
                                <h4>Amaran Mudah Alih</h4>
                                <p>Powered by the METMalaysia API, opt-in to unofficial warnings about possible disaster hazards affecting Malaysia and its states.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="home-col col-lg-6">
                    <a href="/map" class="cards">
                        <div class="card">
                            <div class="card-body">
                                <i class="home-icon fa-solid fa-map-location-dot"></i>
                                <h3>Evactuation Mapping</h3>
                                <h4>Peta Pemindahan</h4>
                                <p>It is important to know where you can go in an emergency, no matter where you are. 
                                    Find possible evactuation centers in your state.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
</section>
<%- include("footer") -%>