<%- include("header") -%>
<!-- Content -->
<section id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="b-pad">
                    <h1>Be Informed</h1>
                    <h4>Dapatkan Maklumat</h4>
                    <p>In an emergency, it is important to know who to contact, and how to stay up to date.</p>
                </div>
                <hr>
                <div class="b-pad">
                    <h3>Radio</h3>
                    <p>
                        Tune in to nationwide or local stations on your battery-powered or car radio 
                        for hazard warnings or for instructions in the event of a disaster. 
                    </p>
                    <ul>
                        <li><a href="https://www.flyfm.audio/">Fly FM</a></li>
                        <li><a href="https://radioonline.my/terengganu/">Terengganu FM</a></li>
                        <li><a href="https://www.putrajaya.fm/">PutrajayaFM</a></li>
                        <li><a href="https://www.molekfm.audio/">Molek FM</a></li>
                    </ul>
                </div>
                <div class="b-pad">
                    <h3>Online</h3>
                </div>
                <div class="b-pad">
                    <ul>
                        <li><a href="https://publicinfobanjir.water.gov.my/ramalan/amaran-banjir/?lang=en">InfoBanjir Flood Alert</a></li>
                    </ul>
                </div>
            </div>
        </div>
</section>
<%- include("footer") -%>