<%- include("header") -%>
<!-- Content -->
<section id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="b-pad">
                    <h1>Temporary Evacuation Centers</h1>
                    <h4>Pusat Pemindahan Sementara (PPS)</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p>This map shows the area or location of possible evacuation centers. 
                        Hazard warnings will not be displayed on this map.</p>
                    <p>During an emergency, warnings and advisories are both provided at 
                        <a href="https://www.met.gov.my/">www.met.gov.my</a> and 
                        <a href="https://www.nadma.gov.my/">www.nadma.gov.my</a> and shared on 
                        <a href="https://twitter.com/metmalaysia">twitter</a>, radio 
                        ,and TV. You may also receive advice from your local authorities. For emergency relief, call 999.</p>
                    <!-- Collapse Accordion -->
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <!-- Accordion Item -->
                        <div class="accordion-item" id="putra-flush">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Putra Jaya
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <h2>Agensi Pengurusan Bencana Negara (NADMA)</h2>
                                    <p>Jabatan Perdana Menteri, Aras 6 & 7, Blok D5, Kompleks D,
                                        Kompleks Pentadbiran Kerajaan Persekutuan, 62502 Wilayah Persekutuan Putrajaya</p>
                                    <p>+603 8870 4800</p>
                                    <p>admin@nadma.gov.my</p>
                                </div>
                            </div>
                        </div>
                        <!-- Accordion Item -->
                        <div class="accordion-item" id="perak-flush">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    Perak
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <h2>SK Sungai Tiang Darat</h2>
                                    <p>No. 1, Jalan Baru Sungai Tiang, 36200, Selekoh, Perak</p>
                                    <p>+60 5648 7541</p>
                                </div>
                            </div>
                        </div>
                        <!-- Accordion Item -->
                        <div class="accordion-item" id="ktan-flush">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    Kelantan
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <h2>Jeli District Health Office</h2>
                                    <p>Kelantan, Bandar Jeli, 17600 Jeli, Kelantan</p>
                                    <p>+60 9944 0333</p>
                                    <p><a href="https://jknkelantan.moh.gov.my/">Visit location website</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Map -->
                <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div id="map"></div>
                    </div>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="b-pad">
                    <h3>Other Resources</h3>
                    <p>Static Radar Images</p>
                    <ul>
                        <li>
                            <a href="https://api.met.gov.my/static/images/swirl-latest.gif" target="__blank">MET Latest Forecast Radar Images</a>
                        </li>
                        <li>
                            <a href="https://api.met.gov.my/static/images/satelit-latest.gif" target="__blank">MET Latest Temperature Satelite Images</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</section>
<script src="/js/leaflet-map.js"></script>
<%- include("footer") -%>
