<%- include("header") -%>
<!-- Content -->
<section id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="b-pad">
                    <span id="dayAndTime"></span>
                    <h1>Be Prepared</h1>
                    <h4>Bersiap Sedia</h4>
                </div>
                <hr>
                <div class="b-pad">
                    <h3>For thunderstorms</h3>
                    <p>Stay up to date on the weather with <a href="https://www.met.gov.my/">weather forecasts</a>.</p>
                    <p>Storms can lead to floods and landslides, so it is important to be prepared.</p>
                    <p>Plan ahead, and figure out what supplies you will need to keep you and your family safe now. 
                        Storms can cut off your power and water supply. Be sure to prepare: 
                        <ul>
                            <li>Emergency food and water.</li>
                            <li>Medicine, especially for older or ill persons.</li>
                            <li>Emergency power sources like flashlights, including extra batteries.</li>
                        </ul>
                        Make sure that important documents like passports, identification, and medical documents 
                        are in a safe and easily accessible location.
                        </p>
                </div>
                <div class="b-pad">
                    <h3>For floods</h3>
                    <p>Be ready to evacuate, or stay home.</p>
                    <p>Always listen to your local radio station and to authorities 
                        regarding evacuation or staying at home. If you hear orders 
                        to evacuate, never ignore the order. Staying home is not worth 
                        the risk to health and safety.
                    </p>
                    <p>Plan and practice evacuating from a flood with your family. 
                        Authorities will direct you to a temporary evacuation center 
                        if the need arises.
                    </p>
                    <a href="/map" class="cards">
                        <div class="card">
                            <div class="card-body">
                                <h5>Temporary Evacuation Center Map</h5>
                                <p>Find a temporary evacuation center near you.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="b-pad">
                    <h3>For landslides</h3>
                    <p>It is important to know the signs of a possible landslide. Pay attention 
                        to the environment:
                        <ul>
                            <li>New cracks or unusual bulges in the ground, street, and sidewalks.</li>
                            <li>Sunken down parts of the road.</li>
                            <li>Tiling or cracking concrete floors and foundations.</li>
                            <li>Leaning telephone poles, street lights, trees or walls.</li>
                            <li>Sounds, such as faint rumblings that increases in volume, or -</li>
                            <li>Trees cracking, or stones knocking together.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
</section>
<%- include("footer") -%>